Algorithmic_Toolbox/week1_programming_challenges/week1_programming_challenges.pdf
Algorithmic_Toolbox/week1_programming_challenges/1_sum_of_two_digits/APlusB.cpp
Algorithmic_Toolbox/week1_programming_challenges/1_sum_of_two_digits/APlusB.cs
Algorithmic_Toolbox/week1_programming_challenges/1_sum_of_two_digits/APlusB.hs
Algorithmic_Toolbox/week1_programming_challenges/1_sum_of_two_digits/APlusB.java
Algorithmic_Toolbox/week1_programming_challenges/1_sum_of_two_digits/APlusB.js
Algorithmic_Toolbox/week1_programming_challenges/1_sum_of_two_digits/APlusB.kt
Algorithmic_Toolbox/week1_programming_challenges/1_sum_of_two_digits/APlusB.rb
Algorithmic_Toolbox/week1_programming_challenges/1_sum_of_two_digits/APlusB.rs
Algorithmic_Toolbox/week1_programming_challenges/1_sum_of_two_digits/APlusB.scala
Algorithmic_Toolbox/week1_programming_challenges/2_maximum_pairwise_product/max_pairwise_product.cpp
Algorithmic_Toolbox/week1_programming_challenges/2_maximum_pairwise_product/max_pairwise_product.js
Algorithmic_Toolbox/week1_programming_challenges/2_maximum_pairwise_product/max_pairwise_product.py
Algorithmic_Toolbox/week1_programming_challenges/2_maximum_pairwise_product/max_pairwise_product.rb
Algorithmic_Toolbox/week1_programming_challenges/2_maximum_pairwise_product/MaxPairwiseProduct.java
Algorithmic_Toolbox/week1_programming_challenges/2_maximum_pairwise_product/MaxPairwiseProduct.kt
Algorithmic_Toolbox/week2_algorithmic_warmup/week2_algorithmic_warmup.pdf
Algorithmic_Toolbox/week2_algorithmic_warmup/1_fibonacci_number/_fibonacci.py
Algorithmic_Toolbox/week2_algorithmic_warmup/1_fibonacci_number/fibonacci.cpp
Algorithmic_Toolbox/week2_algorithmic_warmup/1_fibonacci_number/fibonacci.hs
Algorithmic_Toolbox/week2_algorithmic_warmup/1_fibonacci_number/Fibonacci.java
Algorithmic_Toolbox/week2_algorithmic_warmup/1_fibonacci_number/fibonacci.js
Algorithmic_Toolbox/week2_algorithmic_warmup/1_fibonacci_number/Fibonacci.kt
Algorithmic_Toolbox/week2_algorithmic_warmup/1_fibonacci_number/fibonacci.rb
Algorithmic_Toolbox/week2_algorithmic_warmup/2_last_digit_of_fibonacci_number/fibonacci_last_digit.cpp
Algorithmic_Toolbox/week2_algorithmic_warmup/2_last_digit_of_fibonacci_number/fibonacci_last_digit.hs
Algorithmic_Toolbox/week2_algorithmic_warmup/2_last_digit_of_fibonacci_number/fibonacci_last_digit.js
Algorithmic_Toolbox/week2_algorithmic_warmup/2_last_digit_of_fibonacci_number/fibonacci_last_digit.rb
Algorithmic_Toolbox/week2_algorithmic_warmup/2_last_digit_of_fibonacci_number/FibonacciLastDigit.java
Algorithmic_Toolbox/week2_algorithmic_warmup/2_last_digit_of_fibonacci_number/FibonacciLastDigit.kt
Algorithmic_Toolbox/week2_algorithmic_warmup/3_greatest_common_divisor/_gcd.py
Algorithmic_Toolbox/week2_algorithmic_warmup/3_greatest_common_divisor/3_gcd_naive.py
Algorithmic_Toolbox/week2_algorithmic_warmup/3_greatest_common_divisor/gcd.cpp
Algorithmic_Toolbox/week2_algorithmic_warmup/3_greatest_common_divisor/gcd.hs
Algorithmic_Toolbox/week2_algorithmic_warmup/3_greatest_common_divisor/GCD.java
Algorithmic_Toolbox/week2_algorithmic_warmup/3_greatest_common_divisor/gcd.js
Algorithmic_Toolbox/week2_algorithmic_warmup/3_greatest_common_divisor/GCD.kt
Algorithmic_Toolbox/week2_algorithmic_warmup/3_greatest_common_divisor/gcd.rb
Algorithmic_Toolbox/week2_algorithmic_warmup/3_greatest_common_divisor/__pycache__/util.cpython-36.pyc
Algorithmic_Toolbox/week2_algorithmic_warmup/4_least_common_multiple/lcm.cpp
Algorithmic_Toolbox/week2_algorithmic_warmup/4_least_common_multiple/lcm.hs
Algorithmic_Toolbox/week2_algorithmic_warmup/4_least_common_multiple/LCM.java
Algorithmic_Toolbox/week2_algorithmic_warmup/4_least_common_multiple/LCM.kt
Algorithmic_Toolbox/week2_algorithmic_warmup/4_least_common_multiple/by_learners/lcm.rb
Algorithmic_Toolbox/week2_algorithmic_warmup/5_fibonacci_number_again/03_Pisano_Period.xlsb
Algorithmic_Toolbox/week2_algorithmic_warmup/5_fibonacci_number_again/fibonacci_huge.cpp
Algorithmic_Toolbox/week2_algorithmic_warmup/5_fibonacci_number_again/fibonacci_huge.hs
Algorithmic_Toolbox/week2_algorithmic_warmup/5_fibonacci_number_again/fibonacci_huge.js
Algorithmic_Toolbox/week2_algorithmic_warmup/5_fibonacci_number_again/fibonacci_huge.rb
Algorithmic_Toolbox/week2_algorithmic_warmup/5_fibonacci_number_again/FibonacciHuge.java
Algorithmic_Toolbox/week2_algorithmic_warmup/5_fibonacci_number_again/FibonacciHuge.kt
Algorithmic_Toolbox/week2_algorithmic_warmup/6_last_digit_of_the_sum_of_fibonacci_numbers/fibonacci_sum_last_digit.cpp
Algorithmic_Toolbox/week2_algorithmic_warmup/6_last_digit_of_the_sum_of_fibonacci_numbers/fibonacci_sum_last_digit.hs
Algorithmic_Toolbox/week2_algorithmic_warmup/6_last_digit_of_the_sum_of_fibonacci_numbers/FibonacciSumLastDigit.java
Algorithmic_Toolbox/week2_algorithmic_warmup/6_last_digit_of_the_sum_of_fibonacci_numbers/FibonacciSumLastDigit.kt
Algorithmic_Toolbox/week2_algorithmic_warmup/6_last_digit_of_the_sum_of_fibonacci_numbers/by_learners/fibonacci_sum_last_digit.rb
Algorithmic_Toolbox/week2_algorithmic_warmup/7_last_digit_of_the_sum_of_fibonacci_numbers_again/fibonacci_partial_sum.cpp
Algorithmic_Toolbox/week2_algorithmic_warmup/7_last_digit_of_the_sum_of_fibonacci_numbers_again/fibonacci_partial_sum.hs
Algorithmic_Toolbox/week2_algorithmic_warmup/7_last_digit_of_the_sum_of_fibonacci_numbers_again/FibonacciPartialSum.java
Algorithmic_Toolbox/week2_algorithmic_warmup/7_last_digit_of_the_sum_of_fibonacci_numbers_again/FibonacciPartialSum.kt
Algorithmic_Toolbox/week2_algorithmic_warmup/7_last_digit_of_the_sum_of_fibonacci_numbers_again/by_learners/fib_partial_sum.rb
Algorithmic_Toolbox/week2_algorithmic_warmup/8_last_digit_of_the_sum_of_squares_of_fibonacci_numbers/fibonacci_sum_squares.cpp
Algorithmic_Toolbox/week2_algorithmic_warmup/8_last_digit_of_the_sum_of_squares_of_fibonacci_numbers/FibonacciSumSquares.java
Algorithmic_Toolbox/week3_greedy_algorithms/week3_greedy_algorithms.pdf
Algorithmic_Toolbox/week3_greedy_algorithms/1_money_change/change.cpp
Algorithmic_Toolbox/week3_greedy_algorithms/1_money_change/change.hs
Algorithmic_Toolbox/week3_greedy_algorithms/1_money_change/Change.java
Algorithmic_Toolbox/week3_greedy_algorithms/1_money_change/Change.kt
Algorithmic_Toolbox/week3_greedy_algorithms/1_money_change/by_learners/change.rb
Algorithmic_Toolbox/week3_greedy_algorithms/2_maximum_value_of_the_loot/fractional_knapsack.cpp
Algorithmic_Toolbox/week3_greedy_algorithms/2_maximum_value_of_the_loot/fractional_knapsack.hs
Algorithmic_Toolbox/week3_greedy_algorithms/2_maximum_value_of_the_loot/fractional_knapsack.js
Algorithmic_Toolbox/week3_greedy_algorithms/2_maximum_value_of_the_loot/fractional_knapsack.rb
Algorithmic_Toolbox/week3_greedy_algorithms/2_maximum_value_of_the_loot/FractionalKnapsack.java
Algorithmic_Toolbox/week3_greedy_algorithms/2_maximum_value_of_the_loot/FractionalKnapsack.kt
Algorithmic_Toolbox/week3_greedy_algorithms/3_car_fueling/car_fueling.cpp
Algorithmic_Toolbox/week3_greedy_algorithms/3_car_fueling/CarFueling.java
Algorithmic_Toolbox/week3_greedy_algorithms/4_maximum_advertisement_revenue/dot_product.cpp
Algorithmic_Toolbox/week3_greedy_algorithms/4_maximum_advertisement_revenue/dot_product.hs
Algorithmic_Toolbox/week3_greedy_algorithms/4_maximum_advertisement_revenue/DotProduct.java
Algorithmic_Toolbox/week3_greedy_algorithms/4_maximum_advertisement_revenue/DotProduct.kt
Algorithmic_Toolbox/week3_greedy_algorithms/4_maximum_advertisement_revenue/by_learners/dot_rpoduct.rb
Algorithmic_Toolbox/week3_greedy_algorithms/5_collecting_signatures/covering_segments.cpp
Algorithmic_Toolbox/week3_greedy_algorithms/5_collecting_signatures/covering_segments.hs
Algorithmic_Toolbox/week3_greedy_algorithms/5_collecting_signatures/CoveringSegments.java
Algorithmic_Toolbox/week3_greedy_algorithms/5_collecting_signatures/CoveringSegments.kt
Algorithmic_Toolbox/week3_greedy_algorithms/5_collecting_signatures/by_learners/covering_segments.rb
Algorithmic_Toolbox/week3_greedy_algorithms/6_maximum_number_of_prizes/different_summands.cpp
Algorithmic_Toolbox/week3_greedy_algorithms/6_maximum_number_of_prizes/different_summands.hs
Algorithmic_Toolbox/week3_greedy_algorithms/6_maximum_number_of_prizes/DifferentSummands.java
Algorithmic_Toolbox/week3_greedy_algorithms/6_maximum_number_of_prizes/DifferentSummands.kt
Algorithmic_Toolbox/week3_greedy_algorithms/6_maximum_number_of_prizes/by_learners/different_summands.rb
Algorithmic_Toolbox/week3_greedy_algorithms/7_maximum_salary/largest_number.cpp
Algorithmic_Toolbox/week3_greedy_algorithms/7_maximum_salary/largest_number.hs
Algorithmic_Toolbox/week3_greedy_algorithms/7_maximum_salary/LargestNumber.java
Algorithmic_Toolbox/week3_greedy_algorithms/7_maximum_salary/LargestNumber.kt
Algorithmic_Toolbox/week3_greedy_algorithms/7_maximum_salary/by_learners/largest_number.rb
Algorithmic_Toolbox/week4_divide_and_conquer/week4_divide_and_conquer.pdf
Algorithmic_Toolbox/week4_divide_and_conquer/1_binary_search/.DS_Store
Algorithmic_Toolbox/week4_divide_and_conquer/1_binary_search/binary_search.cpp
Algorithmic_Toolbox/week4_divide_and_conquer/1_binary_search/binary_search.js
Algorithmic_Toolbox/week4_divide_and_conquer/1_binary_search/binary_search.rb
Algorithmic_Toolbox/week4_divide_and_conquer/1_binary_search/BinarySearch.java
Algorithmic_Toolbox/week4_divide_and_conquer/1_binary_search/BinarySearch.kt
Algorithmic_Toolbox/week4_divide_and_conquer/2_majority_element/majority_element.cpp
Algorithmic_Toolbox/week4_divide_and_conquer/2_majority_element/MajorityElement.java
Algorithmic_Toolbox/week4_divide_and_conquer/2_majority_element/MajorityElement.kt
Algorithmic_Toolbox/week4_divide_and_conquer/2_majority_element/by_learners/majority_element.rb
Algorithmic_Toolbox/week4_divide_and_conquer/3_improving_quicksort/sorting.cpp
Algorithmic_Toolbox/week4_divide_and_conquer/3_improving_quicksort/Sorting.java
Algorithmic_Toolbox/week4_divide_and_conquer/3_improving_quicksort/Sorting.kt
Algorithmic_Toolbox/week4_divide_and_conquer/3_improving_quicksort/by_learners/sorting.rb
Algorithmic_Toolbox/week4_divide_and_conquer/4_number_of_inversions/inversions.cpp
Algorithmic_Toolbox/week4_divide_and_conquer/4_number_of_inversions/Inversions.java
Algorithmic_Toolbox/week4_divide_and_conquer/4_number_of_inversions/Inversions.kt
Resources/week1_programming_challenges/week1_programming_challenges.pdf
Resources/week1_programming_challenges/1_sum_of_two_digits/APlusB.cpp
Resources/week1_programming_challenges/1_sum_of_two_digits/APlusB.cs
Resources/week1_programming_challenges/1_sum_of_two_digits/APlusB.hs
Resources/week1_programming_challenges/1_sum_of_two_digits/APlusB.java
Resources/week1_programming_challenges/1_sum_of_two_digits/APlusB.js
Resources/week1_programming_challenges/1_sum_of_two_digits/APlusB.kt
Resources/week1_programming_challenges/1_sum_of_two_digits/APlusB.py
Resources/week1_programming_challenges/1_sum_of_two_digits/APlusB.rb
Resources/week1_programming_challenges/1_sum_of_two_digits/APlusB.rs
Resources/week1_programming_challenges/1_sum_of_two_digits/APlusB.scala
Resources/week1_programming_challenges/2_maximum_pairwise_product/max_pairwise_product.cpp
Resources/week1_programming_challenges/2_maximum_pairwise_product/max_pairwise_product.js
Resources/week1_programming_challenges/2_maximum_pairwise_product/max_pairwise_product.py
Resources/week1_programming_challenges/2_maximum_pairwise_product/max_pairwise_product.rb
Resources/week1_programming_challenges/2_maximum_pairwise_product/MaxPairwiseProduct.java
Resources/week1_programming_challenges/2_maximum_pairwise_product/MaxPairwiseProduct.kt
Resources/week2_algorithmic_warmup/week2_algorithmic_warmup.pdf
Resources/week2_algorithmic_warmup/1_fibonacci_number/fibonacci.cpp
Resources/week2_algorithmic_warmup/1_fibonacci_number/fibonacci.hs
Resources/week2_algorithmic_warmup/1_fibonacci_number/Fibonacci.java
Resources/week2_algorithmic_warmup/1_fibonacci_number/fibonacci.js
Resources/week2_algorithmic_warmup/1_fibonacci_number/Fibonacci.kt
Resources/week2_algorithmic_warmup/1_fibonacci_number/fibonacci.py
Resources/week2_algorithmic_warmup/1_fibonacci_number/fibonacci.rb
Resources/week2_algorithmic_warmup/2_last_digit_of_fibonacci_number/fibonacci_last_digit.cpp
Resources/week2_algorithmic_warmup/2_last_digit_of_fibonacci_number/fibonacci_last_digit.hs
Resources/week2_algorithmic_warmup/2_last_digit_of_fibonacci_number/fibonacci_last_digit.js
Resources/week2_algorithmic_warmup/2_last_digit_of_fibonacci_number/fibonacci_last_digit.py
Resources/week2_algorithmic_warmup/2_last_digit_of_fibonacci_number/fibonacci_last_digit.rb
Resources/week2_algorithmic_warmup/2_last_digit_of_fibonacci_number/FibonacciLastDigit.java
Resources/week2_algorithmic_warmup/2_last_digit_of_fibonacci_number/FibonacciLastDigit.kt
Resources/week2_algorithmic_warmup/3_greatest_common_divisor/gcd.cpp
Resources/week2_algorithmic_warmup/3_greatest_common_divisor/gcd.hs
Resources/week2_algorithmic_warmup/3_greatest_common_divisor/GCD.java
Resources/week2_algorithmic_warmup/3_greatest_common_divisor/gcd.js
Resources/week2_algorithmic_warmup/3_greatest_common_divisor/GCD.kt
Resources/week2_algorithmic_warmup/3_greatest_common_divisor/gcd.py
Resources/week2_algorithmic_warmup/3_greatest_common_divisor/gcd.rb
Resources/week2_algorithmic_warmup/4_least_common_multiple/lcm.cpp
Resources/week2_algorithmic_warmup/4_least_common_multiple/lcm.hs
Resources/week2_algorithmic_warmup/4_least_common_multiple/LCM.java
Resources/week2_algorithmic_warmup/4_least_common_multiple/LCM.kt
Resources/week2_algorithmic_warmup/4_least_common_multiple/lcm.py
Resources/week2_algorithmic_warmup/4_least_common_multiple/by_learners/lcm.rb
Resources/week2_algorithmic_warmup/5_fibonacci_number_again/fibonacci_huge.cpp
Resources/week2_algorithmic_warmup/5_fibonacci_number_again/fibonacci_huge.hs
Resources/week2_algorithmic_warmup/5_fibonacci_number_again/fibonacci_huge.js
Resources/week2_algorithmic_warmup/5_fibonacci_number_again/fibonacci_huge.py
Resources/week2_algorithmic_warmup/5_fibonacci_number_again/fibonacci_huge.rb
Resources/week2_algorithmic_warmup/5_fibonacci_number_again/FibonacciHuge.java
Resources/week2_algorithmic_warmup/5_fibonacci_number_again/FibonacciHuge.kt
Resources/week2_algorithmic_warmup/6_last_digit_of_the_sum_of_fibonacci_numbers/fibonacci_sum_last_digit.cpp
Resources/week2_algorithmic_warmup/6_last_digit_of_the_sum_of_fibonacci_numbers/fibonacci_sum_last_digit.hs
Resources/week2_algorithmic_warmup/6_last_digit_of_the_sum_of_fibonacci_numbers/fibonacci_sum_last_digit.py
Resources/week2_algorithmic_warmup/6_last_digit_of_the_sum_of_fibonacci_numbers/FibonacciSumLastDigit.java
Resources/week2_algorithmic_warmup/6_last_digit_of_the_sum_of_fibonacci_numbers/FibonacciSumLastDigit.kt
Resources/week2_algorithmic_warmup/6_last_digit_of_the_sum_of_fibonacci_numbers/by_learners/fibonacci_sum_last_digit.rb
Resources/week2_algorithmic_warmup/7_last_digit_of_the_sum_of_fibonacci_numbers_again/fibonacci_partial_sum.cpp
Resources/week2_algorithmic_warmup/7_last_digit_of_the_sum_of_fibonacci_numbers_again/fibonacci_partial_sum.hs
Resources/week2_algorithmic_warmup/7_last_digit_of_the_sum_of_fibonacci_numbers_again/fibonacci_partial_sum.py
Resources/week2_algorithmic_warmup/7_last_digit_of_the_sum_of_fibonacci_numbers_again/FibonacciPartialSum.java
Resources/week2_algorithmic_warmup/7_last_digit_of_the_sum_of_fibonacci_numbers_again/FibonacciPartialSum.kt
Resources/week2_algorithmic_warmup/7_last_digit_of_the_sum_of_fibonacci_numbers_again/by_learners/fib_partial_sum.rb
Resources/week2_algorithmic_warmup/8_last_digit_of_the_sum_of_squares_of_fibonacci_numbers/fibonacci_sum_squares.cpp
Resources/week2_algorithmic_warmup/8_last_digit_of_the_sum_of_squares_of_fibonacci_numbers/fibonacci_sum_squares.py
Resources/week2_algorithmic_warmup/8_last_digit_of_the_sum_of_squares_of_fibonacci_numbers/FibonacciSumSquares.java
Resources/week3_greedy_algorithms/week3_greedy_algorithms.pdf
Resources/week3_greedy_algorithms/1_money_change/change.cpp
Resources/week3_greedy_algorithms/1_money_change/change.hs
Resources/week3_greedy_algorithms/1_money_change/Change.java
Resources/week3_greedy_algorithms/1_money_change/Change.kt
Resources/week3_greedy_algorithms/1_money_change/change.py
Resources/week3_greedy_algorithms/1_money_change/by_learners/change.rb
Resources/week3_greedy_algorithms/2_maximum_value_of_the_loot/fractional_knapsack.cpp
Resources/week3_greedy_algorithms/2_maximum_value_of_the_loot/fractional_knapsack.hs
Resources/week3_greedy_algorithms/2_maximum_value_of_the_loot/fractional_knapsack.js
Resources/week3_greedy_algorithms/2_maximum_value_of_the_loot/fractional_knapsack.py
Resources/week3_greedy_algorithms/2_maximum_value_of_the_loot/fractional_knapsack.rb
Resources/week3_greedy_algorithms/2_maximum_value_of_the_loot/FractionalKnapsack.java
Resources/week3_greedy_algorithms/2_maximum_value_of_the_loot/FractionalKnapsack.kt
Resources/week3_greedy_algorithms/3_car_fueling/car_fueling.cpp
Resources/week3_greedy_algorithms/3_car_fueling/car_fueling.py
Resources/week3_greedy_algorithms/3_car_fueling/CarFueling.java
Resources/week3_greedy_algorithms/4_maximum_advertisement_revenue/dot_product.cpp
Resources/week3_greedy_algorithms/4_maximum_advertisement_revenue/dot_product.hs
Resources/week3_greedy_algorithms/4_maximum_advertisement_revenue/dot_product.py
Resources/week3_greedy_algorithms/4_maximum_advertisement_revenue/DotProduct.java
Resources/week3_greedy_algorithms/4_maximum_advertisement_revenue/DotProduct.kt
Resources/week3_greedy_algorithms/4_maximum_advertisement_revenue/by_learners/dot_rpoduct.rb
Resources/week3_greedy_algorithms/5_collecting_signatures/covering_segments.cpp
Resources/week3_greedy_algorithms/5_collecting_signatures/covering_segments.hs
Resources/week3_greedy_algorithms/5_collecting_signatures/covering_segments.py
Resources/week3_greedy_algorithms/5_collecting_signatures/CoveringSegments.java
Resources/week3_greedy_algorithms/5_collecting_signatures/CoveringSegments.kt
Resources/week3_greedy_algorithms/5_collecting_signatures/by_learners/covering_segments.rb
Resources/week3_greedy_algorithms/6_maximum_number_of_prizes/different_summands.cpp
Resources/week3_greedy_algorithms/6_maximum_number_of_prizes/different_summands.hs
Resources/week3_greedy_algorithms/6_maximum_number_of_prizes/different_summands.py
Resources/week3_greedy_algorithms/6_maximum_number_of_prizes/DifferentSummands.java
Resources/week3_greedy_algorithms/6_maximum_number_of_prizes/DifferentSummands.kt
Resources/week3_greedy_algorithms/6_maximum_number_of_prizes/by_learners/different_summands.rb
Resources/week3_greedy_algorithms/7_maximum_salary/largest_number.cpp
Resources/week3_greedy_algorithms/7_maximum_salary/largest_number.hs
Resources/week3_greedy_algorithms/7_maximum_salary/largest_number.py
Resources/week3_greedy_algorithms/7_maximum_salary/LargestNumber.java
Resources/week3_greedy_algorithms/7_maximum_salary/LargestNumber.kt
Resources/week3_greedy_algorithms/7_maximum_salary/by_learners/largest_number.rb
Resources/week4_divide_and_conquer/week4_divide_and_conquer.pdf
Resources/week4_divide_and_conquer/1_binary_search/.DS_Store
Resources/week4_divide_and_conquer/1_binary_search/binary_search.cpp
Resources/week4_divide_and_conquer/1_binary_search/binary_search.js
Resources/week4_divide_and_conquer/1_binary_search/binary_search.py
Resources/week4_divide_and_conquer/1_binary_search/binary_search.rb
Resources/week4_divide_and_conquer/1_binary_search/BinarySearch.java
Resources/week4_divide_and_conquer/1_binary_search/BinarySearch.kt
Resources/week4_divide_and_conquer/2_majority_element/majority_element.cpp
Resources/week4_divide_and_conquer/2_majority_element/majority_element.py
Resources/week4_divide_and_conquer/2_majority_element/MajorityElement.java
Resources/week4_divide_and_conquer/2_majority_element/MajorityElement.kt
Resources/week4_divide_and_conquer/2_majority_element/by_learners/majority_element.rb
Resources/week4_divide_and_conquer/3_improving_quicksort/sorting.cpp
Resources/week4_divide_and_conquer/3_improving_quicksort/Sorting.java
Resources/week4_divide_and_conquer/3_improving_quicksort/Sorting.kt
Resources/week4_divide_and_conquer/3_improving_quicksort/sorting.py
Resources/week4_divide_and_conquer/3_improving_quicksort/by_learners/sorting.rb
Resources/week4_divide_and_conquer/4_number_of_inversions/inversions.cpp
Resources/week4_divide_and_conquer/4_number_of_inversions/Inversions.java
Resources/week4_divide_and_conquer/4_number_of_inversions/Inversions.kt
Resources/week4_divide_and_conquer/4_number_of_inversions/inversions.py
Resources/week4_divide_and_conquer/4_number_of_inversions/by_learners/inversions.rb
Resources/week4_divide_and_conquer/5_organizing_a_lottery/points_and_segments.cpp
Resources/week4_divide_and_conquer/5_organizing_a_lottery/points_and_segments.py
Resources/week4_divide_and_conquer/5_organizing_a_lottery/PointsAndSegments.java
Resources/week4_divide_and_conquer/5_organizing_a_lottery/PointsAndSegments.kt
Resources/week4_divide_and_conquer/5_organizing_a_lottery/by_learners/points_and_segments.rb
Resources/week4_divide_and_conquer/6_closest_points/closest.cpp
Resources/week4_divide_and_conquer/6_closest_points/Closest.java
Resources/week4_divide_and_conquer/6_closest_points/Closest.kt
Resources/week4_divide_and_conquer/6_closest_points/closest.py
Resources/week4_divide_and_conquer/6_closest_points/by_learners/closest.rb
Resources/week5_dynamic_programming1/week5_dynamic_programming1.pdf
Resources/week5_dynamic_programming1/1_money_change_again/change_dp.cpp
Resources/week5_dynamic_programming1/1_money_change_again/change_dp.py
Resources/week5_dynamic_programming1/1_money_change_again/ChangeDP.java
Resources/week5_dynamic_programming1/1_money_change_again/ChangeDP.kt
Resources/week5_dynamic_programming1/2_primitive_calculator/primitive_calculator.cpp
Resources/week5_dynamic_programming1/2_primitive_calculator/primitive_calculator.py
Resources/week5_dynamic_programming1/2_primitive_calculator/PrimitiveCalculator.java
Resources/week5_dynamic_programming1/2_primitive_calculator/PrimitiveCalculator.kt
Resources/week5_dynamic_programming1/2_primitive_calculator/by_learners/primitive_calculator.rb
Resources/week5_dynamic_programming1/3_edit_distance/edit_distance.cpp
Resources/week5_dynamic_programming1/3_edit_distance/edit_distance.py
Resources/week5_dynamic_programming1/3_edit_distance/EditDistance.java
Resources/week5_dynamic_programming1/3_edit_distance/EditDistance.kt
Resources/week5_dynamic_programming1/3_edit_distance/by_learners/edit_distance.rb
Resources/week5_dynamic_programming1/4_longest_common_subsequence_of_two_sequences/lcs2.cpp
Resources/week5_dynamic_programming1/4_longest_common_subsequence_of_two_sequences/LCS2.java
Resources/week5_dynamic_programming1/4_longest_common_subsequence_of_two_sequences/LCS2.kt
Resources/week5_dynamic_programming1/4_longest_common_subsequence_of_two_sequences/lcs2.py
Resources/week5_dynamic_programming1/5_longest_common_subsequence_of_three_sequences/lcs3.cpp
Resources/week5_dynamic_programming1/5_longest_common_subsequence_of_three_sequences/LCS3.java
Resources/week5_dynamic_programming1/5_longest_common_subsequence_of_three_sequences/LCS3.kt
Resources/week5_dynamic_programming1/5_longest_common_subsequence_of_three_sequences/lcs3.py
Resources/week5_dynamic_programming1/5_longest_common_subsequence_of_three_sequences/by_learners/lcs3.rb
Resources/week6_dynamic_programming2/week6_dynamic_programming2.pdf
Resources/week6_dynamic_programming2/1_maximum_amount_of_gold/knapsack.cpp
Resources/week6_dynamic_programming2/1_maximum_amount_of_gold/Knapsack.java
Resources/week6_dynamic_programming2/1_maximum_amount_of_gold/Knapsack.kt
Resources/week6_dynamic_programming2/1_maximum_amount_of_gold/knapsack.py
Resources/week6_dynamic_programming2/1_maximum_amount_of_gold/by_learners/knapsack.rb
Resources/week6_dynamic_programming2/2_partitioning_souvenirs/partition3.cpp
Resources/week6_dynamic_programming2/2_partitioning_souvenirs/Partition3.java
Resources/week6_dynamic_programming2/2_partitioning_souvenirs/Partition3.kt
Resources/week6_dynamic_programming2/2_partitioning_souvenirs/partition3.py
Resources/week6_dynamic_programming2/3_maximum_value_of_an_arithmetic_expression/placing_parentheses.cpp
Resources/week6_dynamic_programming2/3_maximum_value_of_an_arithmetic_expression/placing_parentheses.py
Resources/week6_dynamic_programming2/3_maximum_value_of_an_arithmetic_expression/PlacingParentheses.java
Resources/week6_dynamic_programming2/3_maximum_value_of_an_arithmetic_expression/PlacingParentheses.kt
Resources/week6_dynamic_programming2/3_maximum_value_of_an_arithmetic_expression/by_learners/placing_parentheses.rb
