Resources/*
Algorithmic_Toolbox/week4_divide_and_conquer copy/6_closest_points/dumb_for_loop_testing.py
Algorithmic_Toolbox/week4_divide_and_conquer copy/6_closest_points/closest_g4g.cpp
Algorithmic_Toolbox/week4_divide_and_conquer copy/6_closest_points/sort_test.py
Algorithmic_Toolbox/week4_divide_and_conquer copy/6_closest_points/test_list_append_obj.py
